nav.navbar.navbar-expand-md.fixed-top
  .container
    a.navbar-brand.page-scroll(href='#page-top').
      template-website
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#main-navbar" aria-controls="main-navbar", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #main-navbar.collapse.navbar-collapse
      ul#page-top.nav.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.page-scroll(href='#nav-link-1') Nav-Link 1
        li.nav-item
          a.nav-link.page-scroll(href='#nav-link-2') Nav-Link 2
        li.nav-item
          a.nav-link.page-scroll(href='#nav-link-3') Nav-Link 3
        li.nav-item
          a.nav-link.page-scroll(href='#nav-link-4') Nav-Link 4
