nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll(href='#page-top')
        img(
          src="images/logo.png",
          title="Informatik Studieren in Salzburg"
        )

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        block navlinks
          li.hidden
            a(href='#page-top')
          li
            a.page-scroll(href='#about') Informatik Studieren in Salzburg
          li
            a.page-scroll(href='#courses') Kurse
          li
            a.page-scroll(href='#guidance') Beratung
          li
            a.page-scroll(href='#map') Wo?
