section#about
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        h2.section-heading Headline
        h3.section-subheading.text-muted Subline
    .row
      .col-md-4
        p.text-center
          a(href="#")
            img(src="images/logos/mmt.svg", height="100")
        h4.text-center Headline 1
        p.text-center Description 1
      .col-md-4
        p.text-center
          a(href="#")
            img(src="images/logos/mmt.svg", height="100")
        h4.text-center Headline 2
        p.text-center Description 2
      .col-md-4
        p.text-center
          a(href="#")
            img(src="images/logos/mmt.svg", height="100")
        h4.text-center Headline 3
        p.text-center Description 3
    .row.justify-content-center
      .col-lg-4.text-center
        br
        br
        | Something is always there…
        br
    .row.justify-content-center
      .col-lg-8.text-center
        h2.section-heading Top, top, top
    .row.justify-content-center
      .col-md-8
        include:markdown-it about.md
