footer
  .container
    .row
      .col
        span.copyright
          | Block 1
          a(href='#') Link 1
          | ,&nbsp;
          a(href='#') Link 2
          | &nbsp;und&nbsp;
          a(href='#') Link 3
      .col
        span.copyright
          | Wir heißen jede*n willkommen
      .col
        ul.list-inline.social-buttons
          li
            a(href='https://github.com/multimediatechnology/template-website.git')
              i.fa.fa-github-alt
      .col
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Impressum
