section#guidance
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        h2.section-heading Headline
        h3.section-subheading.text-muted Description
    .row
      .col-lg-4
        h4.section-heading Headline
        address
          strong Person/Company Address
          br
          | Address
          br
          attr(title="Tel") T:&nbsp;
          | +43(0) / 000 0000-0000
        address
          strong Person/Company Address
          br
          | Address
          br
          | Room
          br
          abbr(title="Tel") T:&nbsp;
          | +43(0) / 000 0000-0000
      .col-lg-4
        h4.section-heading Headline
        address
          strong Person/Company Address
          br
          | Address
          br
          | Room
          br
          abbr(title="Tel") T:&nbsp;
          | +43(0) / 000 0000-0000
      .col-lg-4
        h4.section-heading Headline
        address
          strong Person/Company Address
          br
          | Address
          br
          | Room
          br
          abbr(title="Tel") T:&nbsp;
          | +43(0) / 000 0000-0000
