header.d-flex.justify-content-center.align-items-center
  h1.text-center
    img.logo(
    src="/images/logos/mmt-invers.svg",
    alt="template-website",
    width="300",
    height="300"
    )
    br
    span.text-center template-website
