header
  .container
    .intro-text
      h1.intro-heading
        img.logo(
        src="/images/logos/mmt.png",
        alt="template-website"
        )
        br
      .intro-lead-in template-website
