extends ./jade/layout.jade

block content

  include ./jade/header
  include ./jade/about
  include ./jade/courses
  include ./jade/guidance
  include ./jade/map
  include ./jade/footer
  include ./jade/modals
