section#about
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Gemeinsam studieren<br>Zwei Hochschulen, ein Studium
        h3.section-subheading.text-muted Salzburg bietet eine Reihe von Hochschul-Ausbildungsmöglichkeiten im Bereich der Informations- und Kommunikationstechnologien (IKT). Insbesondere sind dies:
    .row
      .col-md-4
        p.text-center
          a(href="http://informatik.uni-salzburg.at/")
            img(src="images/logos/uni.png")
        h4.text-center Informatik, Paris-Lodron Universität Salzburg
        p.text-center Unsere Informatik-Studien vermitteln in erster Linie Problemlösungskompetenz. Die wichtigsten Werkzeuge dafür sind Programmieren, abstraktes Denken und Verständnis für die Konzepte der Informationstheorie, des Softwaredesigns und der Mathematik.
      .col-md-4
        p.text-center
          a(href="https://multimediatechnology.at/")
            img(src="images/logos/mmt.png")
        h4.text-center MultiMediaTechnology, Fachhochschule Salzburg
        p.text-center MultiMediaTechnology ist ein Medieninformatik-Studium an der FH Salzburg, das ganz auf die neue Medienwelt zugeschnitten ist.
      .col-md-4
        p.text-center
          a(href="http://its.fh-salzburg.ac.at/")
            img(src="images/logos/its.png")
        h4.text-center Informationstechnik & System-Management, Fachhochschule Salzburg
        p.text-center Durch die Kombination von IT und Wirtschaftskompetenzen sind unsere Studierenden optimal für ihre Aufgaben als IT-SpezialistIn gerüstet.
    .row
      .col-lg-4.col-lg-offset-4.text-center
        br
        br
        img(src="images/illustrations/light.png")
        br
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Wie funktioniert's
    .row.arrow-down
      .col-md-8.col-md-offset-2
        include:markdown about.md
