footer
  .container
    .row
      .col-md-12
        span.copyright
          | Informatik Studieren in Salzburg ist eine Initiative von&nbsp;
          a(href='https://multimediatechnology.at/') MultiMediaTechnology
          | ,&nbsp;
          a(href='http://its.fh-salzburg.ac.at/') Information Technology & Systems Management
          | &nbsp;und&nbsp;
          a(href='http://informatik.uni-salzburg.at/') Universität Salzburg, Fachbereich Computerwissenschaften
      .col-md-12
        span.copyright
          | Wir heißen jede*n willkommen
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='https://github.com/multimediatechnology/it-studieren-in-salzburg.git')
              i.fa.fa-github-alt
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Impressum
