footer
  .container
    .row
      .col-md-12
        span.copyright
          | Das Barcamp wird von&nbsp;
          a(href='https://multimediatechnology.at/') MultiMediaTechnology
          |  veranstaltet
      .col-md-12
        span.copyright
          | Wir heißen jede*n willkommen
      .col-md-12
        ul.list-inline.social-buttons
          li
            a(href='http://lanyrd.com/2014/barcamp-salzburg-october/')
              i.fa.fa-calendar-o
          li
            a(href='https://twitter.com/salzburgwebdev')
              i.fa.fa-twitter
          li
            a(href='https://github.com/conc-at')
              i.fa.fa-github-alt
      .col-md-12
        span.copyright
          a.text-muted(href='#legalModal', data-toggle='modal') Impressum
