section#guidance
  .container
    .row
      .col-lg-8.col-lg-offset-2.text-center
        h2.section-heading Beratung
        h3.section-subheading.text-muted Die Öffnungszeiten und Kontaktmöglichkeiten der Studierendenberatung des jeweiligen Instituts finden Sie hier:        
    .row
      .col-lg-4
        h4.section-heading Studienberatung Informatik
        address
          strong Ao.Univ.-Prof. Dr. Helge Hagenauer
          br
          | Jakob-Haringer-Straße 2, A-5020 Salzburg
          br
          attr(title="Tel") T:&nbsp;
          | +43(0) / 662 8044-6314
        address
          strong StV Cosy
          br
          | Jakob-Haringer-Straße 2, A-5020 Salzburg
          br
          | Raum 0.17
          br
          abbr(title="Tel") T:&nbsp;
          | +43(0) / 662 8044-6035
      .col-lg-4
        h4.section-heading MultiMediaTechnology
        address
          strong MMT Office
          br
          | Campus Urstein Süd 1, A-5412 Puch/Salzburg
          | Raum 330
          br
          abbr(title="Tel") T:&nbsp;
          | +43(0) / 50 2211-1252
      .col-lg-4
        h4.section-heading Informationstechnik & System-Management
        address
          strong ITS Office
          br
          | Campus Urstein Süd 1, A-5412 Puch/Salzburg
          | Raum 426
          br
          abbr(title="Tel") T:&nbsp;
          | +43(0) / 50 2211-1302
