header
  .container
    .intro-text
      h1.intro-heading
        img.logo(
        src="images/logo-header.png",
        alt="Informatik Studieren in Salzburg",
        width="600",
        height="110"
        )
        br
      .intro-lead-in Informatik Studieren in Salzburg
