header
  .container
    .intro-text
      h1.intro-heading 
        img.logo(
          src="/images/logos/barcamp.png",
          alt="Barcamp Salzburg – The next web",
          width="600",
          height="150"
        )
        br
        | 8-10 April, 2016
      .intro-lead-in The next web
